<div id="mainMenu" class="hidden">

    <ul class="nav nav-stacked">
        <li><a class="barry" href="/"><i class="glyphicon glyphicon-home"></i>Home</a></li>
        <li><a class="barry" href="About"><i class="glyphicon glyphicon-question-sign"></i>About</a></li>
        <li><a class="barry" href="notice"><i class="glyphicon glyphicon-book"></i>News</a></li>
        <li><a class="barry"  href="video"><i class="glyphicon glyphicon-facetime-video"></i>Videos</a></li>
        <li><a class="barry" href="Training"><i class="glyphicon glyphicon-tent"></i>Training</a></li>
        <li><a class="barry" href="goLive"><i class="glyphicon glyphicon-glass"></i>Go Live</a></li>
        <li><a class="barry"  href="contact"><i class="glyphicon glyphicon-comment"></i>Contact/Feedback</a></li>
    </ul>

</div>
