

<% myNoticeArray.forEach(function(obj) { %>
<div id="newsPanel">
    <h3 id="newsTitle"><%= obj.noticeTitle %></h3>
    <p id="newsContentPara"><%= obj.noticeContent %></p>
    <p id="newsAuthor"><i>Written by - <%= obj.noticeAuthor %></i></p>
</div>
<hr/>
<% }); %>
