<% myVidArray.forEach(function(obj) { %>
<div id="newsPanel">
    <h3><%= obj.videoTitle %></h3>
    <video class="smallFrame" class="embed-responsive-item" controls
     src="<%= obj.videoURL %>" type="video/mp4">

        Somethings Wrong.
    </video>
    <p> <%= obj.videoBlurb %></p>
    <hr/>
</div>
<% }); %>

