<html manifest="/manifest.appcache">
<head>
    <title>wholesome title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">


    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Signin CSS -->

</head>
<body>
<div id="header">
    <button id="showMenu" type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
    </button>
    <img id="title" src="/HOMEbanner.png" height="13%" />
</div>

<div id="mainMenu" class="hidden">

    <ul class="nav nav-stacked">
        <li><a href="/"><i class="glyphicon glyphicon-home"></i>Home</a></li>
        <li><a href="about"><i class="glyphicon glyphicon-question-sign"></i>About</a></li>
        <li><a href="notice"><i class="glyphicon glyphicon-book"></i>News</a></li>
        <li><a href="video"><i class="glyphicon glyphicon-facetime-video"></i>Videos</a></li>
        <li><a href="trainning"><i class="glyphicon glyphicon-tent"></i>Training</a></li>
        <li><a href="index.ejs"><i class="glyphicon glyphicon-glass"></i>Go Live</a></li>
        <li><a href="contact"><i class="glyphicon glyphicon-comment"></i>Contact/Feedback</a></li>
    </ul>

</div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <%- include partials/carosels %>
        </div>

        <!-- Left and right controls -->
        <a  class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>




<hr style="color:black;" />
<div id="homePageContainer">
    <h3 id="homePageContainerTitle">
            Quick Reference Guide
        </h3>
</div>
<button type="button" id="newsButton" class="btn btn-default" >Training Manuals
    <span id="directionIcons" class="glyphicon glyphicon-menu-right" aria-hidden="true" ></span>
</button>
<button type="button" id="newsButton" class="btn btn-default" >Clinical updates
    <span id="directionIcons" class="glyphicon glyphicon-menu-right" aria-hidden="true" ></span>
</button>
<button type="button" id="newsButton" class="btn btn-default" >Practice Labs
    <span id="directionIcons" class="glyphicon glyphicon-menu-right" aria-hidden="true" ></span>
</button>
<button type="button" id="newsButton" class="btn btn-default" >Practical Activities
    <span id="directionIcons" class="glyphicon glyphicon-menu-right" aria-hidden="true" ></span>
</button>
<button type="button" id="newsButton" class="btn btn-default" style="margin-bottom: 4%;">Support
    <span id="directionIcons" class="glyphicon glyphicon-menu-right" aria-hidden="true" ></span>
</button>
<hr/>
<center><img src="/images/QLDHealth.jpg" id="AboutUsImg" alt="Qld Health" class="img-thumbnail"></center>
<button onclick="goBack()">Go Back</button>

</body>
<script>
    function goBack() {
        window.history.back();
    }
    $('#showMenu').click(function(){
        if($('#mainMenu').hasClass('hidden')){
            $('#mainMenu').removeClass('hidden').addClass('visible');
            $('#mainMenu').addClass('color');
            $('#mainMenu').animate({left: '0'}, 1000);
        }else{
            $('#mainMenu').animate({left: '-300px'}, 1000);
            setTimeout( function(){
                $('#mainMenu').removeClass('visible').addClass('hidden');
            }, 1000);
        }
    });
    var thing = document.getElementById('mainMenu');
    $('.item').first().addClass('active');
    console.log("fucnkked");

    for(video in vidCountArray) {
        $(".smallFrame")[video].onplay = function () {
            console.log("jehkjej");
            $("#myCarousel").carousel('pause');
        };
        $(".smallFrame")[video].onpause = function () {
            $('#myCarousel').carousel('cycle');
        };
    }
</script>
</html>