
<p>oi cunt</p>

<% myArray.forEach(function(obj) { %>
<div>
    <h3><%= obj.noticeTitle %></h3>
    <p><%= obj.noticeContent %></p>
    <p><i>- <%= obj.noticeAuthor %></i></p>
</div>
<hr/>
<% }); %>
