<% myVidArray.forEach(function(obj) { %>
<div id="newsPanel">
    <h3><%= obj.videoTitle %></h3>
    <video id="smallFrame" class="embed-responsive-item" controls>
        <source src="<%= obj.videoURL %>" type="video/mp4">
        <!--<source src="/vids/v.ogg" type="video/ogg">-->
        Somethings Wrong.
    </video>
    <p> <%= obj.videoBlurb %></p>
    <hr/>
</div>
<% }); %>