body {
  padding: 50px;
  font: 35px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.hidden{
  display: none;
}
.visible{
  display: block;
}

#mainMenu{
  position: relative;
  left: -200px;
  width: 70%;
}


/*------------------------------------------------------------------------*/
