
body {
  padding: 0;
  font: 35px "Lucida Grande", Helvetica, Arial, sans-serif;
}


#cunt{
  white-space: pre;
  margin-left: 3%;
  margin-right: 3%;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  white-space: pre-wrap;
  background-color: white;
  padding: 3%;
  padding-right: 30px;
  width: 100%;
  margin-bottom: -80px;

}
#cunt p{

  margin-top: -50px;
  margin-bottom: 30px;
}
#cunt p a{
  margin-left: -12px;
}

.link{
  color: rgb(54, 81, 237);
}
.link:visited{
  color: rgb(54, 81, 237);
}

a:link {
  color: rgb(203,223,237);
}
a:visited{
  color: rgb(203,223,237);

}

.color{
  background-color: rgb(31, 73, 125);
}
.hidden{
  display: none;
}
.visible{
  display: block;
}

#mainMenu{
  z-index: 2;
  position: absolute;
  left: -300px;
  color: rgb(203,223,237);
  text-wrap: normal;
  padding-right: 1%;
  width: 70%;
  height: 88%;
  font-size: 20px;
  overflow: auto;

}

#title{
  position: absolute;
  left: 70px;
  top:3px;
}
#otherTitles{
  margin-left: 8%;
}
#showMenu{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 55px;
  padding: 0px;
}
.glyphicon{
  font-size: 25px;
  align-text: center;
  margin: 0;
}

#header {
  background-color: rgb(31, 73, 125);
  width: 100%;
  height: 15%;
}
#header h1, #header button{
  color: rgb(203,223,237);

}
#header button{
  background-color: rgb(31, 73, 125);
}

#aboutUs{
  margin-left: 3%;
  margin-right: 3%;
  padding: 3%;


}

#newsPanel {
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 2%;
  padding-right: 2%;

}
.carousel-caption a{
  /*bottom: 0;*/
  /*top: auto;*/

  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
}
/*.item{*/
  /*min-height: 300px;*/
  /*max-height: 300px;*/
/*}*/
  .carousel-inner{
    height:320px;
  }

#newsTitle{
  margin-left: 3%;
  margin-right: 3%;

}

#newsContent{
  margin-left: 3%;
  margin-right: 3%;
}

#newsContentPara{
  margin-left: 3%;
  margin-right: 3%;
  maxlength: '50';
}

#newsAuthor{
  margin-left: 3%;
  margin-right: 3%;

}

#newsButton{
  width: 100%;
  font-size: 15px;
  height: 8%;
  margin-top: 2%;
  position: relative;
  text-align: left;
  background-color: rgb(203,223,237);

}

#homePageContainer{
  width: 100%;
  height: 9%;
  margin-top: 5%;
  background-color: rgb(31, 73, 125);
  position: relative;
}

#homePageContainerTitle{
  padding: 2%;
  color: white;
  margin-bottom: -1%;
  text-align: center;
}

#aboutUsImg{
  margin-top: 1%;
  width: 85%;
}

#directionIcons{
  float: right;
}

#contactInfo {
  margin-left: 3%;
}

.smallFrame{
  max-width: 320px;
  max-height: 240px;
  min-width: 320px;
  min-height: 240px;
  margin-top: 5px;
  object-fit: fill;
}
.center{
  width: 100%;
  text-align: center;

}
.editBlock{
  border-bottom: 1px black solid;
  background-color: lightblue;

}
textarea, label{
  display: block;
}

textarea{
  width: 80%;

}
.editBlock{
   padding-left: 45px;
}
#sortable{
  list-style: none;
}
.moveUp{
  font-size: 16px;
  margin: 4px;
  margin-left: -40px;
  margin-top: -40px;
}
.topBuffer{
  margin-top: 90px;
}
li i{
 padding-right: 10px;
}